.musicListWrapper {
  margin-block: 0;

  & button.backNotActive {
    visibility: hidden;
  }
  & button.backActive {
    visibility: visible;
  }
}

.fileList {
  list-style: none;
  padding: var(--space-sm);
  margin: var(--space-sm) 0 0;
  border: 1px solid var(--color-primary);
  border-radius: 10px;

  height: calc(100vh - 195px);
  overflow-y: scroll;

  & li {
    padding: 0.5rem;
    border-radius: 5px;
  }

  & li:hover {
    background-color: var(--color-primary);
    cursor: pointer;
    color: var(--color-plex-black);
  }
}

.mediaControls {
  background-color: var(--color-primary);
  color: black;
  padding: var(--space-xs);
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls {
  display: flex;
  gap: var(--space-xs);

  & span {
    cursor: pointer;
  }

  & span.active svg {
    opacity: 1;
  }

  & svg {
    opacity: 0.2;
    width: 24px;
    height: 24px;
  }
}

.listWrapper {
  padding: 0.5rem;

  & > button {
    background-color: var(--color-primary);
    padding: 0.3rem 0.5rem;
    border: none;
    border-radius: 10px;
  }
}
