.musicListWrapper {
  margin-block: 0;

  & > div:first-child {
    display: flex;
    gap: var(--space-xs);
    height: 35px;
  }

  & button.backNotActive {
    visibility: hidden;
  }
  & button.backActive {
    visibility: visible;
  }
  & button {
    background-color: var(--color-primary);
    padding: var(--space-xs) var(--space-sm);
    border: none;
    border-radius: 10px;
  }
}

.folderNav {
  display: flex;
  gap: var(--space-xs);
}

.fileList {
  list-style: none;
  padding: var(--space-sm);
  margin: 0;
  border: 1px solid var(--color-primary);
  border-radius: 10px;

  height: calc(
    100vh - var(--header-height) - var(--nav-height) - 35px - 1rem -
      (var(--space-xs) * 2) - 4rem
  );
  overflow-y: scroll;


  &::-webkit-scrollbar {
    display: none;
  }

  & li {
    padding: var(--space-sm);
    /*margin-bottom: var(--space-xs);*/
    border: 1px solid var(--color-primary);
    /*border-radius: 25px;*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;

    display: flex;
    align-items: center;
    gap: var(--space-xs);

    & span {
      display: inline-block;
      width: 100%;
    }

    &.directory {
      justify-content: flex-start;
    }
  }

  & li:hover {
    background-color: var(--color-primary);
    cursor: pointer;
    color: var(--color-plex-black);
    & span {
      /*animation: scrolling 12s linear infinite;*/
    }

    & svg path {
      fill: var(--color-plex-black);
    }
  }

  & svg {
    width: 30px;
    height: 30px;
  }
}

.listWrapper {
  padding: 0.5rem 0;
}

.playlistModalWrapper {
  font-size: 18px;

  dialog {
    background-color: var(--color-plex-black);
    color: var(--color-primary);
    width: 70vw;
    height: 80dvh;
    border: 2px solid var(--color-primary);
    padding: var(--space-x-large);

    &:open::backdrop {
      backdrop-filter: blur(5px);
    }

    svg,
    path {
      stroke: var(--color-primary);
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  & ul {
    list-style: none;
    padding: 0;
  }

  & li {
    border-top: 1px solid var(--color-primary);
    padding-block: var(--space-sm);

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & li:last-child {
    border-bottom: 1px solid var(--color-primary);
  }

  & .playlistActions {
    display: inline-flex;
    align-items: center;
    gap: var(--space-med);

    span {
      background-color: var(--color-plex-orange);
      color: var(--color-plex-black);
      padding: var(--space-xxs) var(--space-xs);
      font-size: 12px;
      font-weight: 500;
      border-radius: 10px;
    }
  }
}

.songsModalWrapper {
  dialog {
    height: 80dvh;
  }

  ul {
    padding: 0;
  }

  & li {
    justify-content: flex-start;
  }
}

.musicContent {
  display: flex;

  & img {
    max-width: 250px;
  }

  & > div {
    margin: 5rem 2rem;
    font-size: var(--font-med);
  }
}

@keyframes scrolling {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
