.appContainer {
  background-color: var(--color-plex-black);
  padding: 0.5rem;
}

.container {
  /*height: calc(100vh - 105px);*/
  border-radius: 10px;
  color: var(--color-primary);
  /*overflow-y: scroll;*/
}
