.contentContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: var(--space-sm);
}
.time {
  font-size: clamp(20%, 80px, 12vw);
}

@media (max-width: 480px) {
  .contentContainer {
    display: flex;
    flex-direction: column;
    gap: var(--space-med);

    & > div:first-child {
      text-align: center;
    }

    .time {
      font-size: 15vw;
    }
  }
}

.weather {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;

  & svg {
    width: 120px;
  }

  & > div:first-child {
    display: flex;
    align-items: center;
    gap: var(--space-med);
    font-size: 24px;
  }
}

.dailyWeather {
  display: flex;
  gap: var(--space-med);

  & svg {
    width: 40px;
  }
}
