.modalWrapper {
  font-size: 18px;
  color: var(--color-primary);

  & > dialog {
    width: 70vw;
    height: 70vh;

    border-radius: 0px;
    background-color: var(--color-plex-black);
    color: currentColor;
    border: 2px solid var(--color-primary);

    padding: var(--space-x-large);
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    svg,
    path {
      stroke: var(--color-primary);
    }
  }

  & > dialog::backdrop {
    backdrop-filter: blur(5px);
  }

  & dialog ul {
    background-color: var(--color-plex-black);
    list-style: none;
  }

  & dialog ul li {
    border-top: 1px solid var(--color-primary);
    border-radius: 0px;
    padding-block: var(--space-xs);

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & dialog ul li:last-child {
    border-bottom: 1px solid var(--color-primary);
  }

  & .playlistActions {
    display: inline-flex;
    align-items: center;
    gap: var(--space-med);

    span {
      background-color: var(--color-plex-orange);
      color: var(--color-plex-black);
      padding: var(--space-xxs) var(--space-xs);
      font-size: 12px;
      font-weight: 500;
      border-radius: 10px;
    }
  }
}
