.header {
  position: relative;
}

.navWrapper {
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  width: 0;
  min-width: 70px;
  overflow: hidden;

  justify-content: space-between;
  border-radius: 10px;
  height: var(--header-height);

  background-color: var(--color-primary);
  margin-bottom: var(--space-xs);

  & > div svg {
    width: 50px;
    height: 50px;
  }

  & button {
    background-color: #000;
    border: none;
    color: #fff;
    padding-inline: var(--space-sm);
    border-radius: 15px;
    height: 100%;
  }

  &.navIsOpen {
    width: 100%;

    & .navItems {
      transform: translateX(0);
    }
  }
}

.navItems {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: transform 700ms ease-in-out;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: var(--space-sm);
}

.settingsWrapper {
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
  place-items: center;
  padding: var(--space-sm);
  background-color: var(--color-primary);
  z-index: 1;

  & span svg {
    width: 40px;
    height: 40px;
  }
}

.mediaControls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  visibility: hidden;
  color: var(--color-primary);
  font-size: 18px;

  border-radius: 10px;
  padding: var(--space-large);

  display: flex;
  flex-direction: column;
  gap: var(--space-sm);

  /*& > div:nth-of-type(1) {*/
  /*  display: flex;*/
  /*  justify-content: center;*/
  /*  gap: 1rem;*/
  /**/
  /*  & > div {*/
  /*    white-space: nowrap;*/
  /*    animation: scrolling 15s linear infinite;*/
  /*  }*/
  /*}*/
}

.mediaControlsActive {
  visibility: visible;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  & span {
    cursor: pointer;
    & svg {
      opacity: 0.2;
      width: 50px;
      height: 50px;
      fill: var(--color-primary);
    }
  }

  & span.active svg {
    opacity: 1;
  }

  & > div > span {
    /*background-color: var(--color-primary);*/
    padding: var(--space-sm);
    border-radius: 50%;
    border: 3px solid var(--color-primary);
  }
}

.playbackControls {
  display: flex;
  gap: var(--space-sm);
}

.volumeControl {
  display: flex;
  align-items: center;
  gap: var(--space-sm);

  & input[type='range'] {
    -webkit-appearance: none;
    background: transparent;
  }
  & input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border: 2px solid var(--color-plex-black);
    border-radius: 20px;
    background-color: var(--color-primary);
    transform: translateY(-35%);
    /*margin-top: -7px;*/
  }

  & input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 25%;
    border-radius: 5px;
    background-color: var(--color-primary);
  }

  & > span {
    padding: var(--space-sm);
    border: 2px solid var(--color-primary);
    border-radius: 50%;

    svg {
      width: 30px;
      height: 30px;
    }
  }
}

.modalContent {
  --dropdown-width: 180px;
  & [role='listbox'] {
    display: flex;
    justify-content: space-between;
    width: var(--dropdown-width);
  }

  ul {
    width: var(--dropdown-width);
  }

  & li {
    border: none;

    &:last-child {
      border-bottom: none;
    }
  }

  & li[aria-selected='true'] {
    color: #fff;
  }

  & svg {
    fill: var(--color-primary);
  }
}

.smallControls {
  & .controls span svg {
    width: 40px;
    height: 40px;
  }

  & .volumeControl span svg {
    width: 20px;
    height: 20px;
  }
}

@keyframes scrolling {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
