.navWrapper {
  display: flex;
  border-radius: 10px;
  gap: 1.5rem;

  background-color: var(--color-primary);
  padding: 1rem 2rem;
  margin-bottom: var(--space-xs);

  & svg {
    width: 40px;
    height: 40px;
  }
}

.mediaControls {
  visibility: hidden;
  background-color: var(--color-primary);
  color: black;
  padding: var(--space-xs);
  border-radius: 10px;
  margin-bottom: var(--space-xs);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-sm);

  & > div:first-child {
    width: 100%;
    overflow: hidden;
    & > div {
      white-space: nowrap;
      animation: scrolling 15s linear infinite;
    }
  }
}

.mediaControlsActive {
  visibility: visible;
}

.controls {
  display: flex;
  gap: var(--space-xs);

  & span {
    cursor: pointer;
    & svg {
      opacity: 0.2;
      width: 24px;
      height: 24px;
    }
  }

  & span.active svg {
    opacity: 1;
  }
}

@keyframes scrolling {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
