.navWrapper {
  display: flex;
  border-radius: 10px;
  gap: 1.5rem;

  background-color: var(--color-primary);
  padding: 1rem 2rem;
  margin-bottom: var(--space-xs);

  & svg {
    width: 40px;
    height: 40px;
  }
}
