.videoContainer {
  position: relative;
  background-color: black;

  & button {
    opacity: 0;
    transition: opacity 0.5s;
  }

  &:hover {
    button {
      opacity: 1;
    }
  }
}

.controls {
  position: absolute;
  inset: auto 0 2rem 0;
  display: flex;
  justify-content: center;
}
