.appContainer {
  height: calc(100vh - var(--header-height) - 2rem);
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.videoGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  gap: 1rem;

  & > div {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  & > div > div {
    margin-top: auto;
  }
}
