:root {
  --color-primary: #f4bbbb;
  --color-plex-black: #3f4245;
  --color-plex-orange: #e5a00d;
  --font-sm: 30px;
  --font-med: 45px;
}

body {
  margin: 0;
  background-color: var(--color-plex-black);
  font-family: 'Outfit';
  font-size: 16px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.defaultTheme {
  --color-primary: #f4bbbb;
  --color-voice-bg: #6e6060;
  --color-voice-gradient: linear-gradient(
    90deg,
    rgba(110, 96, 96, 1) 0%,
    rgba(245, 194, 181, 1) 34%,
    rgba(237, 221, 83, 1) 62%,
    rgba(245, 194, 181, 1) 79%,
    rgba(110, 96, 96, 1) 100%
  );
}

.skyGreenTheme {
  --color-primary: #d5f4e6;
  --color-voice-bg: #6e6060;
  --color-voice-gradient: linear-gradient(
    90deg,
    rgba(110, 96, 96, 1) 0%,
    rgba(213, 244, 230, 1) 30%,
    rgba(237, 221, 83, 1) 57%,
    rgba(213, 244, 230, 1) 79%,
    rgba(110, 96, 96, 1) 100%
  );
}
.narutoTheme {
  --color-primary: #fcbb42;
  --color-voice-bg: #6e6060;
  --color-voice-gradient: linear-gradient(
    90deg,
    rgba(110, 96, 96, 1) 0%,
    rgba(252, 187, 66, 1) 29%,
    rgba(237, 221, 83, 1) 57%,
    rgba(252, 187, 66, 1) 79%,
    rgba(110, 96, 96, 1) 100%
  );
}

.creamPurpleTheme {
  --color-primary: #b0aac0;
  --color-voice-bg: #6e6060;
  --color-voice-gradient: linear-gradient(
    90deg,
    rgba(110, 96, 96, 1) 0%,
    rgba(176, 170, 192, 1) 29%,
    rgba(237, 221, 83, 1) 57%,
    rgba(176, 170, 192, 1) 79%,
    rgba(110, 96, 96, 1) 100%
  );
}
.hyperRedTheme {
  --color-primary: #e06377;
  --color-voice-bg: #6e6060;
  --color-voice-gradient: linear-gradient(
    90deg,
    rgba(110, 96, 96, 1) 0%,
    rgba(224, 99, 119, 1) 29%,
    rgba(237, 221, 83, 1) 57%,
    rgba(224, 99, 119, 1) 79%,
    rgba(110, 96, 96, 1) 100%
  );
}

.appContainer {
  width: 100%;
}

video {
  width: 100%;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'Hero New';
  font-style: normal;
  font-weight: 900;
  src: url(./assets/fonts/HeroNew-Super.otf) format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Hero New';
  font-style: normal;
  font-weight: 700;
  src: url(./assets/fonts/HeroNew-Bold.otf) format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Hero New';
  font-style: normal;
  font-weight: 500;
  src: url(./assets/fonts/HeroNew-Medium.otf) format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url(./assets/fonts/Outfit-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'CaviarDreams';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/CaviarDreams.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'CaviarDreams';
  font-style: normal;
  font-weight: 700;
  src: url(./assets/fonts/CaviarDreams_Bold.ttf);
  font-display: swap;
}
