:root {
  --color-primary: #f4bbbb;
  --color-plex-black: #3f4245;
  --color-plex-orange: #e5a00d;
}

body {
  margin: 0;
  background-color: var(--color-plex-black);
}

.appContainer {
  width: 100%;
}

video {
  width: 100%;
}

a {
  text-decoration: none;
}
