:root {
  --color-primary: #f4bbbb;
  --color-plex-black: #3f4245;
  --color-plex-orange: #e5a00d;
}

body {
  margin: 0;
  background-color: var(--color-plex-black);
  font-family: 'Outfit';
  font-size: 16px;
}

.appContainer {
  width: 100%;
}

video {
  width: 100%;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'Hero New';
  font-style: normal;
  font-weight: 900;
  src: url(./assets/fonts/HeroNew-Super.otf) format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Hero New';
  font-style: normal;
  font-weight: 700;
  src: url(./assets/fonts/HeroNew-Bold.otf) format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Hero New';
  font-style: normal;
  font-weight: 500;
  src: url(./assets/fonts/HeroNew-Medium.otf) format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url(./assets/fonts/Outfit-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'CaviarDreams';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/CaviarDreams.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'CaviarDreams';
  font-style: normal;
  font-weight: 700;
  src: url(./assets/fonts/CaviarDreams_Bold.ttf);
  font-display: swap;
}
